::placeholder { /* Edge 12 -18 */
    color: white;
  }

  input:focus{
    outline: none;
  }

*{
    margin: 0;
    padding: 0;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
}

body{
    background-image:url(../Media/Background\ Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#projectBody{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
}

#leftSec{
    height: 80%;
    width: 67%;
    padding-left: 100px;
}

#leftSec h1{
    font-size: 70px;
}

#leftSec h2{
    font-size: 50px;
}

#calender{
    width: auto;
    height: 120px;
    background-color:rgb(221, 221, 221,0.3);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#calender h1{
    font-size: 50px;
}

#clock h2{
    font-size: 25px;
}

.sitesPanel{
    width: 300px;
    margin-bottom: 7px;
}

.sitesPanel button{
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.sitesPanel a{
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 22px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 50;
}

.sitesPanel .listDropDown{
    display: none;
}

.sitesPanel:hover .listDropDown{
    display: block;
    position: absolute;
    background-color: black;
    width: 300px;
}

a:hover{
    background-color: grey;
}

.search{
    width: 100%;
    height: fit-content;
    margin-top: 190px;
    display: flex;
    justify-content: center;
}

#webSearch{
    width: 500px;
    height: 45px;
    color: white;
    font-weight: normal;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(0  ,0,0,.8);
    border: none;
}